{{log this.changesetObj.changes}}
{{#each-in (get this.changesetObj "directions") as |presetNr property|}}
  <div class="vi-toggle">
    <div class="vi-toggle-label">
      {{property.label}}
      :
    </div>
    {{#let (concat "directions." presetNr ".hidden") as |contextKey|}}
      <XToggle
        @value={{changeset-get this.changesetObj contextKey}}
        @showLabels={{true}}
        @theme="default"
        @size="medium"
        @onLabel="show"
        @offLabel="hide"
        @onToggle={{changeset-set
          this.changesetObj
          contextKey
          (not (changeset-get this.changesetObj contextKey))
        }}
      />
    {{/let}}
  </div>
{{/each-in}}